/* Human Body Section Styles */
.human-body-container {
    background: linear-gradient(140deg, #0b0b0b 0%, #121212 55%, #1a1a1a 100%);    border-radius: 3px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.human-body-image {
    width: 100%;
    height: auto;
    max-width: 450px;
    object-fit: contain;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .human-body-container {
        max-width: 100%;
        padding: 30px;
        min-height: 400px;
    }

    .human-body-image {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .human-body-container {
        padding: 20px;
        min-height: 350px;
        margin-top: 20px;
    }
}


/*Human Body Animation*/
.organ-map svg{
    width: 100%;
    height: auto;
    display: block;
    max-height: 100vh;
    padding: 20px;
}

/* Let only the top-level group handle clicks */
#heart-main, #lungs, #liver, #kidneys, #intestines, #stomach, #brain {
    cursor: pointer;
    pointer-events: visiblePainted; /* normal behavior */
  }
  
  /* Prevent inner paths from capturing events */
  #heart *, #lungs *, #liver *, #kidneys *, #base *, #intestines *, #stomach *, #brain * {
    pointer-events: none;
  }
  