/* Human Body Section Styles */
.human-body-container {
    background: linear-gradient(140deg, #0b0b0b 0%, #121212 55%, #1a1a1a 100%);    border-radius: 3px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.human-body-image {
    width: 100%;
    height: auto;
    max-width: 450px;
    object-fit: contain;
}

/*Human Body Animation*/
.organ-map svg{
    width: 100%;
    height: auto;
    display: block;
    max-height: 100vh;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 1035px) {
    .human-body-container {
        max-width: 100%;
        padding: 30px;
        min-height: 400px;
    }

    .human-body-image {
        max-width: 70%;
    }
    .human-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .human-container h2{
        font-size: 40px !important;
    }
    .human-container p{
        font-size: 16px !important;
    }
    .human-container button{
        font-size: 14px !important;
    }
    .human-container button svg{
        font-size: 14px !important;
    }
}

@media (max-width: 768px) {
    .human-body-container {
        padding: 20px;
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .human-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .human-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .human-container > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .human-container > div > h2{
        text-align: center !important;
    }
    .human-container > div > p{
        text-align: center !important;
        margin-bottom: 20px !important;
    }

   
}

